### Django ###
*.log
*.pot
*.pyc
__pycache__/
/home/divino/Documents/teste/projeto-tcc-unifei/projetotcc/settings.py
/home/divino/Documents/teste/projeto-tcc-unifei/tcc/migrations
db.sqlite3
media
workspace.xml
