{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <h1 class="titulo-login">Conectar-se no sistema</h1>
      <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}

        <input class='btn btn-block btn-primary botao-login' type="submit" value="Entrar" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>

  </div>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
      <div class="bg-register-forgot">
         <p>Esqueceu a senha? <a href="{% url 'auth_password_reset' %}">Resetar senha</a>!</p>
         <p>Ainda não fez seu cadastro? <a href="{% url 'registration_register' %}">Registrar</a>!</p>
      </div>
    </div>
  </div>

<script>
  $("#bg_login").addClass("bg_login_full");
</script>
{% endblock %}
