.bg_login_full {
  background: url(../img/home_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 100%;
  padding-top: 20px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.navbar {
    margin: 0;
}

.navbar-default {
    background-color: #4682B4;
    border-color: #FFD700;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.resposta_1 {
    background-color: #7B84AE;
    color: #ffffff;
}

.resposta_2 {
    background-color: #515E91;
    color: #ffffff;
}

.resposta_3 {
    background-color: #303C74;
    color: #ffffff;
}

.resposta_4 {
    background-color: #172457;
    color: #ffffff;
}

.resposta_5 {
    background-color: #07103A;
    color: #ffffff;
}

.invisivel {
    visibility: hidden;
}

.perguntas .sem-perguntas {
    padding-top: 5%;
}

.sem-perguntas {
    padding-top: 5%;
}

.panel.panel-form, .panel.panel-form .panel-heading, .panel.panel-form .panel-footer {
    border-radius: 0;
}

.panel.panel-form {
    border: 1px solid #e6e6e6;
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel.panel-form .panel-heading {
    background: #4682B4 none repeat scroll 0 0;
    border-bottom: 7px solid #eee;
    color: #d6f5ff;
    text-align: center;
}

.panel.panel-form .panel-body {
    background: #fcfcfc none repeat scroll 0 0;
    padding: 30px;
}

.panel.panel-form .panel-footer {
    background: #f6f6f6 none repeat scroll 0 0;
    border-top: 1px solid #e6e6e6;
    color: #aaa;
}

.footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #4682B4;
    border-color: #FFD700;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.footer-bottom {
    bottom: 0;
}

.bg-register-forgot{
    background-color: #FFF;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 2px solid #CCC;
}

.titulo-login {
    color: #FFF;
    text-shadow: #000 2px 2px 0px;
    text-align: center;
}

.botao-login {
    border-bottom: 1px #fff;
}

.label-login {
    color: #fff;
    text-shadow: #000 1px 1px 0px;
    font-size: 16px;
}

.form-login {
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.row-spaces {
    margin-bottom: 10px;
}

.col-xs-2 {
    padding-left: 15px;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    #menu {
        width:1.4em;
        display: block;
        background:#ddd;
        font-size:1.35em;
        text-align: center;
    }
    #nav.js {
        display: none;
    }
    ul {
        width:100%;
        list-style:none;
    }
    li {
        width:100%;
        border-right:none;
    }
}

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
}