.resposta_1 {
    background-color: #800000;
    color: #ffffff;
}

.resposta_2 {
    background-color: #B22222;
    color: #ffffff;
}

.resposta_3 {
    background-color: #9400D3;
    color: #ffffff;
}

.resposta_4 {
    background-color: #0000FF;
    color: #ffffff;
}

.resposta_5 {
    background-color: #000080;
    color: #ffffff;
}

.invisivel {
    visibility: hidden;
}

.perguntas {
    padding: 5%;
}