<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!--<div id="navbar" class="navbar-collapse collapse">-->
      <ul id="nav" class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <!--<li><a href="/configuracao">Configuracao</a></li>-->
        <!--<li><a href="/contato">Contato</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        {% if request.user.is_authenticated %}
          <li><a>Olá {{ request.user }}</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Registrar</a></li>

        {% endif %}
      </ul>
    <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
  </div>
</nav>