{% extends "base.html" %}

{% block content %}
<div class="row">
<form class="form-signup" action="/sign_up/" method="post">{% csrf_token %}
    <div class="panel panel-form">
        <div class="panel-heading">
            <h2>Preencha os campos com seus dados para realizar o registro</h2>
        </div>
        <div class="panel-body">
            <div class="fieldWrapper">
                <label>Primeiro Nome</label><br>
                {{ form.first_name }}
            </div>
            <br>
            <div class="fieldWrapper">
                <label>Ultimo Nome</label><br>
                {{ form.last_name }}
            </div>
            <br>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label>E-mail</label><br>
                {{ form.email }}
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
    <div class="panel panel-form">
        <div class="panel-heading">
            <h2>Dados para o login</h2>
        </div>
        <div class="panel-body">
            <div class="fieldWrapper">
            {{form.errors.values.0}}
                <label>Usuario</label><br>
                {{ form.username }}
            </div>
            <br>
            <div class="fieldWrapper">
                {{form.errors.values.1}}
                <label>Senha</label><br>
                {{ form.password1 }}
            </div>
            <br>
            <div class="fieldWrapper">
                <label>Confirmar Senha</label><br>
                {{ form.password2 }}
            </div>
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="Create account">
        <div class="panel-footer">
        </div>
    </div>
</form>
</div>

{% endblock %}