{% extends "base.html" %}

{% block content %}
<div class="row" style="margin-top: 20px;">
<form class="form-signup" action="/sign_up/" method="post">{% csrf_token %}
    <div class="panel panel-form">
        <div class="panel-heading">
            <h3>Preencha os campos com seus dados para realizar o registro</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2 col-md-2"><label>Primeiro Nome</label></div>
                <div class="col-xs-2 col-md-2">{{ form.first_name }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-2 col-md-2"><label>Ultimo Nome</label></div>
                <div class="col-xs-2 col-md-2">{{ form.last_name }}</div>
            </div>
            <br>
            <div class="row">
                {{ form.email.errors }}
                <div class="col-xs-2 col-md-2"><label>E-mail</label></div>
                <div class="col-xs-2 col-md-2">{{ form.email }}</div>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
    <div class="panel panel-form">
        <div class="panel-heading">
            <h3>Dados para o login</h3>
        </div>
        <div class="panel-body">
            <div class="row">
            {{form.errors.values.0}}
                <div class="col-xs-2 col-md-2"><label>Usuario</label></div>
                <div class="col-xs-2 col-md-2">{{ form.username }}</div>
            </div>
            <br>
            <div class="row">
                {{form.errors.values.1}}
                <div class="col-xs-2 col-md-2"><label>Senha</label></div>
                <div class="col-xs-2 col-md-2">{{ form.password1 }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-2 col-md-2"><label>Confirmar Senha</label></div>
                <div class="col-xs-2 col-md-2">{{ form.password2 }}</div>
            </div>
        </div>

        <div class="panel-footer" style="text-align: center">
            <input type="submit" name="submit" class="btn btn-primary" value="Criar Registro">
        </div>
    </div>
</form>
</div>

{% endblock %}