.invisivel {
    visibility: hidden;
}

.row-admin {
    margin-left: 10px;
    margin-top: 25px;
}

.col-md-1 {
    float: left;
    width: 6%;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
    font-size: 14px;
}

.col-md-pergunta {
    width: 30%;
    text-align: left;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 12px;
}

.linha-tabela {
    clear: both;
}